extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let stoneid = toShow._id 
    - let stone_Name = toShow.stone_Name
    - let stone_Company = toShow.stone_Company
    - let stone_size = toShow.stone_size 
    - let actionid = "/resource/stones/" + stoneid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='stoneAttr mr-3') stone ID is: 
        div #{stoneid} 
      div.row 
        div(class='stoneAttr mr-3') stone Name is: 
        div #{stone_Name} 
      div.row 
        div(class='stoneAttr mr-3') stone Company is: 
        div #{stone_Company} 
      div.row 
        div(class='stoneAttr mr-3') stone size is: 
        div #{stone_size} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the stone collection 
      window.location.href='/stones' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      //Don't need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/stones' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 