extends layout 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let stoneid = toShow._id 
    - let stone_Name = toShow.stone_Name
    - let stone_Company = toShow.stone_Company
    - let stone_size = toShow.stone_size
    - let stone_Rating = toShow.stone_Rating
    - let actionid = "/resource/stone/" + stoneid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='stoneAttr mr-3') stone ID is: 
        div #{stoneid} 
      div.row 
        div(class='stoneAttr mr-3') Stone Name is: 
        div #{stone_Name} 
      div.row 
        div(class='stoneAttr mr-3') Stone Company is: 
        div #{stone_Company} 
      div.row 
        div(class='stoneAttr mr-3') Stone Size is: 
        div #{stone_size}   
      div.row 
        div(class='stoneAttr mr-3') Stone Rating is: 
        div #{stone_Rating} 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
  script. 
    function cancel() { 
      // Go back to the home page for the stone collection 
      window.location.href='/stone' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'   
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/stone' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    }